#navbar-main-container {
  background: black;
  width: 100vw;
  margin: 0 auto;
  position: sticky;
  top: 0;
  height: 8em;
}
#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 2000px;
}
#navbar-logo-container {
  margin-left: 2em;
  height: 70%;
}
#navbar-logo {
  height: 100%;
}
