<section id="about-section">
  <div id="about-container">
    <div id="feature-cards-container">
      <app-feature-card
        iconName="fitness_center"
        title="Strength Sessions"
        description="Empower your physique with targeted resistance training, boosting both muscle and strength to meet your goals"
      ></app-feature-card>
      <app-feature-card
        iconName="directions_bike"
        title="Cardio Coaching"
        description="We  help boost your heart's health and endurance with personalized aerobic workouts, enhancing overall vitality"
      ></app-feature-card>
      <app-feature-card
        iconName="local_dining"
        title="Dietary Directions"
        description="Unlock the secrets to a balanced diet with evidence-based recommendations, designed to fuel your body "
      ></app-feature-card>
      <app-feature-card
        iconName="self_improvement"
        title="Personal Peace"
        description="Embrace your unique journey, fostering a positive self-image and cultivating inner peace and confidence"
      ></app-feature-card>
    </div>
  </div>
</section>
